.sidebar {
     background-color: #171717;
     color: white;
     padding: 1rem;
     position: sticky;
     top: 6.5rem; /* height of header + nav */
     align-self: start;
     margin-bottom: 2rem;
     border-radius: 15px;
   }
   
        .sidebar ul {
            list-style-type: none;
            color: white;
            padding: 0;
        }
    
        .sidebar ul li {
            margin: 20px 0;
            text-align: center;
            color: white;
        }
    
        .sidebar ul li a {
            text-decoration: none;
            font-weight: 500;
            padding: 0.5rem 1rem;
            border-radius: 15px;
            transition: all 0.3s ease;
            color: white;
        }
 
        .sidebar a:hover {
            background: linear-gradient(135deg, #667eea 0%, #48bb78 100%);
                   color: white;
        }
 .layout {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 1rem;
      padding: 2rem;
    }   
