.publication-title-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.publication-icon {
  width: 110px;
  height: 210px;
  object-fit: contain;
  border-radius: 60%;
  float: left;
}
.toggle-icon {
  font-size: 1.2em;
  margin-left: 10px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.rotate-up {
  transform: rotate(180deg); /* This flips ▼ to ▲ visually */
}
