.publication-title-with-icon {
  display: flex;
  align-items: center;
  gap: 10px; /* space between icon and text */
  font-weight: bold;
  font-size: 1.1em;
}

.publication-icon {
  width: 110px;
  height: 210px;
  object-fit: contain;
  border-radius: 40%;
}/* No styles needed here yet */
